html {
    background: linear-gradient(to bottom, rgb(29, 170, 88), rgb(172, 181, 185));
    appearance: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Helvetica', sans-serif;
}

h1 {
    text-align: center;
    color: black;
    text-align: center;
    text-shadow: 2px 2px 4px goldenrod; 
}
h2 {
    text-align: center;
    color: black;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px goldenrod; 
}

p {
  text-align: center;
    color: black;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px 2px goldenrod;  
}

nav ul {
    text-align: center;
    margin-bottom: 20px;
    border: black 2px solid;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    border: black 1px solid;
    background-color:rgb(184, 23, 176);
    
}
 nav ul li a {
    text-decoration: none;
    color: inherit;
    color:rgb(172, 181, 185);
}

nav ul li a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
}




canvas {
    display: block;
    width: 90%;
    max-width: 800px;
    padding: 10px;
    margin: 40px auto;
    background-color: black;
    border: 8px solid rgb(184, 23, 176);
}


@media screen and (max-width: 700px) {
        canvas {
            width: 100%;
            margin: 20px auto;
}
    }

@media screen and (max-width: 400px) {
    canvas {
        width: 100%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 200px) {
    canvas {
        width: 100%;
        margin: 5px auto;
    }
}